{% extends "base.html" %}
{% block title %}{{page.title}}{% endblock title %}

{% macro tagElement(name, current=[]) -%}
<a href="{{ url_for('blog', tags=current_tags + [name], **filter_dates) }}">
    <span class="badge {% if name in current -%} badge-success {% else -%} badge-info {%- endif %}">
        {{ name }}
    </span>
</a>
{%- endmacro %}

{% block content_content %}
<div class="row">
    <div class="col-sm-9 col-md-7 col-md-offset-1" id="blog-main-column">
        <!-- the actual blog post: title/author/date/content -->
        <section>
            {% for post in posts %}
            {% if post.type == "date" %}
            <div id="{{ post.id_ }}" class="blog-date"></div>
            {% else %}
            <article {% if post.nav_id %}id="{{ post.nav_id }}"{% endif %}>
                <h2>{{post.title}}</h1>
                <p>
                    {% if post.user %}
                    <div class="header-icons">
                        <i class="fa fa-user"></i>
                        {{post.user}}
                    </div>
                    {% endif %}
                    {% if post.date %}
                    <div class="header-icons">
                        <i class="fa fa-calendar"></i>
                        {{post.date|date}}
                    </div>
                    <div class="header-icons">
                        <i class="fa fa-clock-o"></i>
                        {{post.date|time}}
                    </div>
                    {% endif %}
                    <div class="clear"></div>
                    {% if post.tags %}
                    <i class="fa fa-tags"></i>
                    {% for tag in post.tags %}
                        {{ tagElement(tag, current=current_tags) }}
                    {% endfor %}
                    {% endif %}
                </p>
                {{post.content|safe}}
                <a href="{{ url_for('show_post', post_year=post.date.year, post_month=post.date.month, post_day=post.date.day, post_id=post.id_) }}" class="more"><i class="fa fa-angle-double-right"></i> read more</a>
                <div class="clear"></div>
            </article>
            {% endif %}
            {% endfor %}
        </section>
    </div>
    <div class="col-sm-3" id="side-nav">
        <nav class="affix">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" style="display:inline"><i class="fa fa-tags"></i> Tags </h4>
                    <a href="{{ url_for('blog', **filter_dates)}}", style="float:right">Clear tags</a>
                </div>
                <div class="panel-body">
                    {% for tag in tags %}
                        {{ tagElement(tag, current=current_tags) }}
                    {% endfor %}
                </div>
            </div>
            <ul class="nav nav-list">
                {% for date in side_nav_dates %}
                <li>
                    <a href="#{{ date.target }}">{{ date.target }}</a>
                    <ul class="nav nav-list">
                        {% for sub_date in date.children %}
                        <li><a href="#{{ sub_date.target }}">{{ sub_date.value }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
                <li><a href="#top" style="border-left:2px solid transparent;margin-top:1em">Top</a></li>
            </ul>
        </nav>
    </div>
    <div class="clear"></div>
</div>
{% endblock content_content %}
