{% extends "base.html" %}
{% block title %}{{content.title}}{% endblock %}

{% block head %}
  {{ super() }}
{% endblock head %}

{% block navbar %}
  {{ super() }}
{% endblock navbar %}

{% block header %}
  <div class="header container">writing</div>
{% endblock header %}

{% block content %}
  <h1>{{content.title}}</h1>
  <p>
    Welcome on my awesome homepage.
  </p>
  <div class="panel panel-default">
    <div class="panel-heading">Panel heading</div>
    <div class="panel-body">
      Panel content
    </div>
  </div>
{% endblock content %}
